#container {
	width: 960px;
	border: 1px solid black;
}

#mainArea {
	width: 90%;
	margin: 0 20px;
	border: 1px solid black;
}

h1 {
	text-align: center;
}

p {
	text-transform: capitalize;
}